<html>
    <head>
        <title>{% block title %}Default Title{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=5" />
        <link href="/dashboard/inc/css/dash.css" rel="stylesheet" type="text/css" media="screen,projection" />
        <link href="/dashboard/inc/css/custom-bootstrap.min.css" rel="stylesheet" type="text/css" media="screen,projection" />
        <link href="/dashboard/inc/css/custom-bootstrap-responsive.min.css" rel="stylesheet" type="text/css" media="screen,projection" />
        <script type="text/javascript"></script>
        <script type="text/javascript" src="/dashboard/inc/js/jquery-1.9.1.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="/dashboard/inc/js/bootstrap.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="/dashboard/inc/js/respond.js" charset="utf-8"></script>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li><a href="#">Junos Dashboard</a></li>
                            <li class="dropdown" id="uidmenu">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Uid<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">PRs</a></li>
                                    <li><a href="#">Agenda</a></li>
                                    <li><a href="#">Releases</a></li>
                                </ul>
                            </li>
                            <li class="dropdown" id="junosmenu">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Junos<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">PRs</a></li>
                                    <li><a href="#">Agenda</a></li>
                                    <li><a href="#">Releases</a></li>
                                </ul>
                            </li>
                            <li><a href="#">NPIs</a></li>
                            <li><a href="#">Junos Ops</a></li>
                            <li class="dropdown" id="reportmenu">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reports<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Matrix</a></li>
                                    <li><a href="#">Unique PR fix rate by IB</a></li>
                                    <li><a href="#">PR-Bugfix</a></li>
                                    <li><a href="#">Doc Backlog PRs</a></li>
                                    <li><a href="#">Backlog PRs</a></li>
                                    <li><a href="#">MTTR</a></li>
                                    <li><a href="#">MTTC KPIs</a></li>
                                    <li><a href="#">QIR Reports</a></li>
                                    <li><a href="#">Component Reports</a></li>
                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" href="#">Hardening Views</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-submenu">
                                                <a href="#">11.4</a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">BU by MRs</a></li>
                                                    <li><a href="#">Customer by MRs</a></li>
                                                    <li><a href="#">Technology by Products</a></li>
                                                    <li><a href="#">Customer Use Case PRs</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">CRS</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Utilities</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Admin</a></li>
                        </ul>
                        <ul class="nav pull-right">
                        </ul>
                    </div> <!-- end of nav collapse -->
                </div> <!-- end of navbar container -->
            </div> <!-- end of navbar inner -->
        </div> <!-- End of navbar -->
        <div id="content">
            {% block content %}
                There is nothing on this page.
            {% endblock content %}
        </div>
        <div id="footer">
            <div class="noprint" id="footer-links">
                <a href="http://www-int.juniper.net/">Intranet Home</a> |
                <a href="https://matrix.juniper.net/">Matrix</a> |
                <a href="http://eng-in.juniper.net/cgi-bin/crs/throttle.html">CRS</a> |
                <a href="https://deepthought.juniper.net/app/index.jsp?tableName=RLI">Deepthought</a> |
                <a href="https://drt.juniper.net/cgi-bin/drt/index.cgi">DRT</a> |
                <a href="https://gnats.juniper.net/web/default">GNATS</a> |
                <a href="https://gnats.juniper.net/cgi-bin/gnats.review?database=review">Review Tracker</a>
            </div>
            <div class="footer-left">Copyright &copy; {% now "Y" %}. Juniper Networks, Inc.</div>
            <div class="footer-mid noprint">  Dashboard {{ version }} ({{ request.META.HTTP_HOST }})</div>
            <div class="footer-right noprint">Please see our
                <a href="https://matrix.juniper.net/docs/DOC-51328">known issues page</a> if you are experiencing problems.
            </div>
        </div>
    </body>
</html>
