#footer {
    font-size: 10px;
    padding: 30px 0px 0px 0px;
    clear: both;
}
#footer-links {
  text-align: center;
  margin-bottom: 1em;
}
.footer-right {
    position: absolute;
    right: 3%;
    width: 30%;
    text-align: right;
}
.footer-left {
    position: absolute;
    left: 3%;
    width: 30%;
    text-align: left;
}
.footer-mid {
    position: absolute;
    left: 35%;
    width: 30%;
    text-align: center;
    padding: 0 10px 10px;
}

.print-only {
    display: block;
}

